* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.App {
    height: 500px;
    margin: 40px 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
}

.header .part2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.part .Header * {
    color: rgb(0, 89, 255);
}

.Main {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.part {
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.first::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 40px;
    height: 100%;
    width: 1px;
    background-color: black
}